.metadata/.lock
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_2
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.6.0.20150526-2032.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.ui.prefs
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.wst.sse.ui/dialog_settings.xml
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.history/d6/70bfdd429a0500161f858d764524cd62
.metadata/.plugins/org.eclipse.core.resources/.projects/NouveauCode/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/NouveauCode/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.debug.core/.launches/Pharmacogenomique_UL.launch
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_1
.metadata/.plugins/org.eclipse.jdt.core/1063230161.index
.metadata/.plugins/org.eclipse.jdt.core/1269277382.index
.metadata/.plugins/org.eclipse.jdt.core/1492968368.index
.metadata/.plugins/org.eclipse.jdt.core/1755913921.index
.metadata/.plugins/org.eclipse.jdt.core/1910228820.index
.metadata/.plugins/org.eclipse.jdt.core/2164123280.index
.metadata/.plugins/org.eclipse.jdt.core/2265617865.index
.metadata/.plugins/org.eclipse.jdt.core/2445747412.index
.metadata/.plugins/org.eclipse.jdt.core/2474304018.index
.metadata/.plugins/org.eclipse.jdt.core/249459504.index
.metadata/.plugins/org.eclipse.jdt.core/2585328351.index
.metadata/.plugins/org.eclipse.jdt.core/2689035419.index
.metadata/.plugins/org.eclipse.jdt.core/3383392487.index
.metadata/.plugins/org.eclipse.jdt.core/3449116704.index
.metadata/.plugins/org.eclipse.jdt.core/3943314115.index
.metadata/.plugins/org.eclipse.jdt.core/3951094714.index
.metadata/.plugins/org.eclipse.jdt.core/4210772659.index
.metadata/.plugins/org.eclipse.jdt.core/52205867.index
.metadata/.plugins/org.eclipse.jdt.core/882139543.index
.metadata/.plugins/org.eclipse.jdt.core/919737581.index
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
NouveauCode/.metadata/.lock
NouveauCode/.metadata/.log
NouveauCode/.metadata/.mylyn/.taskListIndex/segments.gen
NouveauCode/.metadata/.mylyn/.taskListIndex/segments_1
NouveauCode/.metadata/.mylyn/repositories.xml.zip
NouveauCode/.metadata/.mylyn/tasks.xml.zip
NouveauCode/.metadata/.plugins/org.eclipse.core.resources/.history/c3/904bd186980500161923b71a1ad00164
NouveauCode/.metadata/.plugins/org.eclipse.core.resources/.projects/tp3/.indexes/af/history.index
NouveauCode/.metadata/.plugins/org.eclipse.core.resources/.projects/tp3/.markers.snap
NouveauCode/.metadata/.plugins/org.eclipse.core.resources/.projects/tp3/.syncinfo.snap
NouveauCode/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
NouveauCode/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
NouveauCode/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
NouveauCode/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
NouveauCode/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
NouveauCode/.metadata/.plugins/org.eclipse.core.resources/.root/4.tree
NouveauCode/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
NouveauCode/.metadata/.plugins/org.eclipse.core.resources/4.snap
NouveauCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
NouveauCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
NouveauCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ui.prefs
NouveauCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
NouveauCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
NouveauCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
NouveauCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
NouveauCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
NouveauCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
NouveauCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
NouveauCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
NouveauCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
NouveauCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
NouveauCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
NouveauCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
NouveauCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.ui.prefs
NouveauCode/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
NouveauCode/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdt
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdx
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fnm
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.frq
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.nrm
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tii
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tis
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments.gen
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.fdt
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.fdx
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.fnm
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.frq
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.nrm
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.tii
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.tis
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdt
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdx
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fnm
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.frq
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.nrm
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.prx
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.tii
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.tis
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments.gen
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_1
NouveauCode/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_2
NouveauCode/.metadata/.plugins/org.eclipse.jdt.core/1669904234.index
NouveauCode/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
NouveauCode/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
NouveauCode/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
NouveauCode/.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
NouveauCode/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
NouveauCode/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
NouveauCode/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
NouveauCode/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
NouveauCode/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
NouveauCode/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
NouveauCode/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
NouveauCode/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
NouveauCode/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
NouveauCode/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
NouveauCode/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.6.0.20150526-2032.xml
NouveauCode/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
NouveauCode/.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
NouveauCode/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
NouveauCode/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
NouveauCode/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
NouveauCode/.metadata/.plugins/org.eclipse.wst.sse.ui/dialog_settings.xml
NouveauCode/.metadata/version.ini
NouveauCode/.settings/org.eclipse.jdt.core.prefs
